*{
    margin : 0;
    font-family: arial;
    border: border-box;
   }
   .herocontent{
     height: 900px;
     width: 1550px;
     background-image: url("photo1.jpg");
     opacity: 1;
     background-size: cover;
     background-repeat: no-repeat;
     /* background-color: rgba(126, 24, 24, 0.486); */
   }
   .navvar {
       height: 60px;
       background-color: rgb(0, 162, 255);
       color: black;
       display: flex;
        align-items: center;
         justify-content: center;
       justify-content: space-evenly;
   }
   .sign_in{
       color: aliceblue;
       font-size: medium;
       display: flex;
   }
   a{
       text-decoration: none;
       color: rgb(255, 255, 255);
   }
   .nav_logo{
     display: flex;
     align-items: center;
      justify-content: center;
    justify-content: space-evenly;
      background-color: #008cff;
      font-size: 40px;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      /* margin-left: 20px; */
      text-decoration-color: rgb(238, 130, 116);   
      align-items: center;
   }
   .box {
       /* display: flex; */
       transform: translate(-50%, -50%);
       position: relative;
       top: 23px;
       right: 150px;
     }
     .box select {
       background-color: #0563af;
       color: white;
       padding: 12px;
       width: 250px;
       border: none;
       font-size: 20px;
       box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
       -webkit-appearance: button;
       appearance: button;
       outline: none;
     }
     
     .box::before {
       content: "";
       font-family: arial;
       position: absolute;
       top: 0;
       right: 0;
       width: 20%;
       height: 100%;
       text-align: center;
       font-size: 28px;
       line-height: 45px;
       color: rgba(255, 255, 255, 0.5);
       background-color: rgba(255, 255, 255, 0.1);
       pointer-events: none;
     }
     
     .box:hover::before {
       color: rgba(255, 255, 255, 0.6);
       background-color: rgba(255, 255, 255, 0.2);
     }
     
     .box select option {
       padding: 30px;
     }
     #sign_up {
       margin-right: 10px;
     }
     .box1 {
       list-style-type: none;
       position: relative;
       right: 150px;
       margin: 0;
       padding: 0;
     }
     li {
       display: inline-block;
       margin-right: 20px;
     }
     li a:hover{
       color: #ffffff;
       background-color: #464646;
       padding-left: 8px;
     }
     .sign_in a:hover {
       background-color: #464646;
     }
   .sign_in{
     position: relative;
     left: 100px;
   }
   
   .container {
     width: 1500px;
     height: 1000px;
     display:flex;
     justify-content: center;
     /* justify-content: space-evenly; */
     /* margin-right: 100px; */
   }
   
   .box2{
     position: relative;
     width: 700PX;
     height: 300px;
     background-color: #0037ff;
     overflow: hidden;
     margin-right: 50px;
     margin-left: 50px;
     margin-top: 150px;
     border-radius: 10px;
     box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
     transition: transform 0.3s ease;
   }
   
   .box2:hover {
     transform: scale(1.05);
   }
   
   .box2::before {
     content: '';
     position: absolute;
     top: -100%;
     left: -100%;
     width: 200%;
     height: 200%;
     background: linear-gradient(45deg, #f47979, transparent);
     transition: 0.5s;
   }
   
   .box2:hover::before {
     top: 0;
     left: 0;
   }
   
   .box2 h2 {
     position: relative;
     z-index: 1;
     
     text-align: center;
     color: #000000;
     
     padding-top: 100px;
     margin-top: 30px;
     font-size: 30px;
     font-weight: bolder;
   }
   
   /* .container{
     height: 1000;
     width: 15;
   } */
   .contain{
     max-width: 1170px;
     margin:auto;
   }
   .row{
     display: flex;
     flex-wrap: wrap;
   }
   ul{
     list-style: none;
   }
   .footer{
     background-color: #2764ff;
       padding: 70px 0;
   }
   .footer-col{
      width: 25%;
      padding: 0 15px;
   }
   .footer-col h4{
     font-size: 18px;
     color: #ffffff;
     text-transform: capitalize;
     margin-bottom: 35px;
     font-weight: 500;
     position: relative;
   }
   .footer-col h4::before{
     content: '';
     position: absolute;
     left:0;
     bottom: -10px;
     background-color: #e91e63;
     height: 2px;
     box-sizing: border-box;
     width: 50px;
   }
   .footer-col ul li:not(:last-child){
     margin-bottom: 10px;
   }
   .footer-col ul li a{
     font-size: 16px;
     text-transform: capitalize;
     color: #ffffff;
     text-decoration: none;
     font-weight: 300;
     color: #bbbbbb;
     display: block;
     transition: all 0.3s ease;
   }
   .footer-col ul li a:hover{
     color: #ffffff;
     padding-left: 8px;
   }
   .footer-col .social-links a{
     display: inline-block;
     height: 40px;
     width: 40px;
     background-color: rgba(255,255,255,0.2);
     margin:0 10px 10px 0;
     text-align: center;
     line-height: 40px;
     border-radius: 50%;
     color: #ffffff;
     transition: all 0.5s ease;
   }
   .footer-col .social-links a:hover{
     color: #394c7a;
     background-color: #ffffff;
   }
   
   /*responsive*/
   @media(max-width: 767px){
     .footer-col{
       width: 50%;
       margin-bottom: 30px;
   }
   }
   @media(max-width: 574px){
     .footer-col{
       width: 100%;
   }
   }